
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f0f0f0;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        .button {
            width: 200px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #c9c5c5;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        
        .button:hover {
            background-color: #0056b3;
        }

		.nav {
            overflow: hidden;
            background-color: lightgray;
            padding: 10px;
        }
    .nav2 {
          overflow: hidden;
          background-color: rgb(255, 255, 255);
          padding: 10px;
      }
        
        h1 {
            text-align: center;
            background-color: lightgray;
            padding: 10px;
            font-size: 60px;
        }
/* Fragen Style: */
        .style1 {                                       
          text-align: center;
          background-color: rgb(255, 251, 251);
          padding: 100px;
          font-size: 20px;
        }

        /* Antworten, Score Style */

        .style2 {                                       
          text-align: center;


        }

		.nav .button {
            float: right;
            background-color: white;
            color: gray;
            border: 1px solid gray;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
        }

        .button-antworten{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .answer-button {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
          }

          .answer-button.correct {
            background-color: green;
            color: white;
          }
          
          .answer-button.incorrect {
            background-color: rgb(255, 0, 0);
            color: white;
          }

        .settings {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            z-index: 9999;
          }
          .settings button {
            display: block;
            margin: 10px auto;
            padding: 10px 20px;
            background-color: #ccc;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          body.dark-mode {
            background-color: #222;
            color: #fff;
          }


        
