<!doctype html>
<head>
    <title>{% block TITLE %}{% endblock %} - Quizrush</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="nav">
        <div style="float: left;">
			<a href="{{ url_for('index') }}"><button class="button">Home</button></a>
		</div>
        <div style="float: right;">
			
                <button class="button" onclick="toggleSettings()">
                  <img src="{{ url_for('static', filename='einstellung.jpg') }}" style="width: 80px; height: 50px;"> Mehr
                </button>
        </div>    
        <h1>Quizrush</h1>
    </nav>

    <div id="settingsPanel" class="settings" style="display: none;">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <input id="usernameInput" type="text" class="login-input" placeholder="Name">
          <input id="passwordInput" type="password" class="login-input" placeholder="Passwort">
          <button class="login-button" onclick="checkCredentials()">Login</button>
          <a href="{{ url_for('registrierung') }}"><button class="button">Registrieren</button></a>
          <p id="loginStatus" style="display: none; color: green;">Anmeldung erfolgreich.</p>
          <p id="loginStatus" style="display: block; color: rgb(128, 0, 0);">Anmeldung nicht erfolgreich.</p>
        </div>
      </div>
  

    <script>
      function toggleSettings() {
        var settingsPanel = document.getElementById('settingsPanel');
        settingsPanel.style.display = (settingsPanel.style.display === 'none') ? 'block' : 'none';
      }

      function toggleDarkMode() {
        var body = document.body;
        body.classList.toggle('dark-mode');
      }

      async function checkCredentials() {
        var username = document.getElementById('usernameInput').value;
        var password = document.getElementById('passwordInput').value;

        const response = await fetch(`/check_credentials?username=${username}&password=${password}`);
        const data = await response.json();

    var loginStatus = document.getElementById('loginStatus');
    if (data.valid) {
      loginStatus.style.display = 'block';
    } else {
      loginStatus.style.display = 'none';
    }
  }
    </script>
    
    <section class="content">
        <header>{% block HEADER %}{% endblock %}</header>
        {% block CONTENT %}{% endblock %}
    </section>
</body>
</html>
