<!-- <!DOCTYPE html>
<html>
<head>
  <title>Settings</title>

</head>
<body>
  <button onclick="toggleSettings()">Settings</button>

  <div id="settingsPanel" class="settings" style="display: none;">
    <button onclick="toggleDarkMode()">Dark-Mode</button>
    
  </div>

  <div class="login-container">
    <input type="text" class="login-input" placeholder="Name">
    <input type="password" class="login-input" placeholder="Passwort">
    <button class="login-button">Login</button>
    <a href="registrierung.html" class="register-link">Registrieren</a>
  </div>

  <script>
    function toggleSettings() {
      var settingsPanel = document.getElementById('settingsPanel');
      settingsPanel.style.display = (settingsPanel.style.display === 'none') ? 'block' : 'none';
    }

    function toggleDarkMode() {
      var body = document.body;
      body.classList.toggle('dark-mode');
    }
  </script>
</body>
</html> -->