<!DOCTYPE html>
<html>  
{% extends 'base.html' %}
{% block HEADER %}
  <script>
    function changeColor() {
        var button = document.getElementById('myButton');
        var currentColor = button.style.backgroundColor;
        
        if (currentColor === 'white') {
            button.style.backgroundColor = 'red';
            button.style.color = 'white';
            button.innerHTML = 'Weiß';
            document.getElementById('heading').innerHTML = 'Weiß';
        } else {
            button.style.backgroundColor = 'white';
            button.style.color = 'black';
            button.innerHTML = 'Rot';
            document.getElementById('heading').innerHTML = 'Rot';
        }
    }
</script>

{% endblock %}
{% block CONTENT %}

<body>
    <div>
      <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px; margin-bottom: 20px;">
        <a href="{{ url_for('get_quiz') }}" style="text-decoration: none;"><button class="button">Quiz Rush</button></a>
      </div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px; margin-bottom: 20px; margin: 20px;">
        <div style="width: 100%; display: flex; justify-content: center;">
          <a href="{{ url_for('get_quiz') }}" style="text-decoration: none;"><button class="button">Mathe Allgemeinwissen</button></a>
          <a href="{{ url_for('get_quiz2') }}" style="text-decoration: none;"><button class="button">Politik Allgemein Wissen</button></a>
          <a href="{{ url_for('get_quiz3') }}" style="text-decoration: none;"><button class="button">Geschichte Allgemeinwissen</button></a>
        </div>
        <div style="width: 100%; display: flex; justify-content: center;">
          <a href="{{ url_for('get_quiz3') }}" style="text-decoration: none;"><button class="button">Spiel Wissen</button></a>
          <a href="{{ url_for('get_quiz') }}" style="text-decoration: none;"><button class="button">Geografie Allgemeinwissen</button></a>
          <a href="{{ url_for('get_quiz2') }}" style="text-decoration: none;"><button class="button">Quiz starten 2</button></a>
        </div>
      </div>
      <h2 id="heading">Button Color Change</h2>
      <p> {{question}}</p>
      <h2>Answers:</h2>
    <form method="POST" action="/submit_answer">
        {% for answer in answers %}
            <button type="submit" name="selected_answer" value="{{ answer }}">{{ answer }}</button>
        {% endfor %}
      </form>
      <button id="myButton" class="button" onclick="changeColor()">Change Color</button>
    </div>

  </body>
{% endblock %}
</html>