<!DOCTYPE html>
<html>  
{% extends 'base.html' %}
{% block HEADER %}
<style>
  
  </style>
  <script>
    function changeColor() {
        var button = document.getElementById('myButton');
        var currentColor = button.style.backgroundColor;
        
        if (currentColor === 'white') {
            button.style.backgroundColor = 'red';
            button.style.color = 'white';
            button.innerHTML = 'Weiß';
            document.getElementById('heading').innerHTML = 'Weiß';
        } else {
            button.style.backgroundColor = 'white';
            button.style.color = 'black';
            button.innerHTML = 'Rot';
            document.getElementById('heading').innerHTML = 'Rot';
        }
    }
</script>
	<h2>{% block TITLE %}Home{% endblock %}</h2>
{% endblock %}
{% block CONTENT %}

<body>
    <div class="container">
      <div style="text-align: center;">
        <a href="{{ url_for('get_quiz') }}"><button class="button">Quiz Rush</button></a>
      </div>
      <h2>Quiz Rush</h2>
      <div style="display: flex; justify-content: center; flex-wrap: wrap;">
        <a href="{{ url_for('get_quiz') }}"><button class="button">Mathe Allgemeinwissen</button></a>
        <a href="{{ url_for('get_quiz2') }}"><button class="button">Politik Allgemein Wissen</button></a>
        <a href="{{ url_for('get_quiz3') }}"><button class="button">Geschichte Allgemeinwissen</button></a>
        <a href="{{ url_for('get_quiz3') }}"><button class="button">Spiel Wissen</button></a>
        <a href="{{ url_for('get_quiz') }}"><button class="button">Geografie Allgemeinwissen</button></a>
        <a href="{{ url_for('get_quiz2') }}"><button class="button">Quiz starten 2</button></a>
      </div>
      <h2 id="heading">Button Color Change</h2>
      <button id="myButton" class="button" onclick="changeColor()">Change Color</button>
    </form>
    </div>

  </body>
{% endblock %}
</html>