<!DOCTYPE html>
<html>
    
{% extends 'base.html' %}
{% block HEADER %}
	<h2>{% block TITLE %}quiz1{% endblock %}</h2>
{% endblock %}
{% block CONTENT %}

<body>
    <div class="container">
      <h1>Quiz Rush</h1>
      <div>
        <a class="button" href="quiz1.html">Button 1</a>
        <a class="button" href="quiz2.html">Button 2</a>
        <a class="button" href="seite3.html">Button 3</a>
        <a class="button" href="seite4.html">Button 4</a>
        <form action="/change_color" method="post">
          <button class="button" type="submit">Change Color</button>
      </form>
      </div>
    </div>
  </body>
{% endblock %}
</html>