<!DOCTYPE html>
<html>
  
{% extends 'base.html' %}
{% block HEADER %}
	<h2>{% block TITLE %}Quiz{% endblock %}</h2>
{% endblock %}
{% block CONTENT %}

<l1>"*Frage*"</l1>
<body>
  <div class="container">
    <h1>Quiz</h1>
    <img src="{{ url_for('static', filename='example.jpg') }}" alt="Bild">
    
    <p>Frage: Was ist die Hauptstadt von Deutschland?</p>
    <div>
      <a class="button" href="https://www.example.com">Berlin</a>
      <a class="button" href="https://www.google.com">Berlin</a>
      <a class="button" href="https://www.facebook.com">Berlin</a>
      <a class="button" href="https://www.twitter.com">Berlin</a>
    </div>
  </div>
</body>
{% endblock %}
</html>