<!DOCTYPE html>
<html>
<head>
  </style>
  <title>Quiz Webseite</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1>Quiz Webseite</h1>
    <div class="quiz-question">
      <h2>Frage 1</h2>
      <p>Was ist die Hauptstadt von Frankreich?</p>
      <ul class="answer-options">
        <li>Paris</li>
        <li>London</li>
        <li>Berlin</li>
        <li>Rom</li>
      </ul>
    </div>
    <div class="quiz-question">
      <h2>Frage 2</h2>
      <p>Wer hat das Telefon erfunden?</p>
      <ul class="answer-options">
        <li>Thomas Edison</li>
        <li>Albert Einstein</li>
        <li>Alexander Graham Bell</li>
        <li>Isaac Newton</li>
      </ul>
    </div>
    <!-- Weitere Fragen hier einfügen -->
  </div>
</body>
</html>
