<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block HEADER %}
<script>
function registerUser() {
  var username = document.getElementById('username').value;
  var password = document.getElementById('password').value;

  fetch('/add_user', {
    method: 'POST',
    body: new URLSearchParams({ 'username': username, 'password': password }),
    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
  })
  .then(response => response.text())
  .then(message => {
    var registrationStatus = document.getElementById('registrationStatus');
    registrationStatus.style.display = 'block';
    registrationStatus.textContent = message;

    if (message === 'Registration successful') {
      registrationStatus.style.color = 'green';
    } else {
      registrationStatus.style.color = 'red';
    }
  });
}


    </script>
{% endblock %}
{% block CONTENT %}
<body>
  <div div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px; margin-bottom: 20px;">
    <h2>Registrierung</h2>
    <form id="registrationForm">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="button" onclick="registerUser()">Registrieren</button>
        <p id="registrationStatus" style="display: none;"></p>
      </form>
  </div>
</body>
{% endblock %}
</html>